$icons: sprite-map("icons/*.png");

div {
    background: $icons;
}

@each $icon in sprites($icons) {
    div .#{$icon} {
        width: image-width(sprite-file($icons, $icon));
        height: image-height(sprite-file($icons, $icon));
        background-position: sprite-position($icons, $icon);
    }
}
